<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <%= _.template(require('./../includes/svg-dashboard.html').default)() %>
        <div id="wrapper">
            <div id="main">
                <div class="dashboard">

                    <%= _.template(require('./../includes/dashboard-sidebar.html').default)() %>
                        <div class="dashboard-content">
                            <%= _.template(require('./../includes/header-dashboard.html').default)() %>
                                <div class="wrap new-parcel-dashboard">
                                    <div class="dashboard-title">
                                        <h1>Pre Alert a New Parcel</h1>
                                        <p>This form allows you to notify us of the arrival of a new parcel in our warehouses.<br>This form is optional but allows you to process your order more quickly.</p>
                                    </div>
                                    <div class="new-parcel-dashboard-wrap">
                                        <div class="qbox step-1">
                                            <ul class="qbox-progress">
                                                <li class="active">About my Parcel</li>
                                                <li class="">Parcel declaration</li>
                                            </ul>
                                            <div id="qbox-container">
                                                <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
                                                    <div class="steps-container">
                                                        <div class="step show">
                                                            <div class="form-row">
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-12">
                                                                        <label for="order-name" class="label-tooltip">
                                                                            <span>Order name</span>
                                                                            <span type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip message">
                                                                                <img class="bg bg-contain" src="images/info-icon.png" alt="Info Icon"/>
                                                                            </span>
                                                                        </label>
                                                                        <input type="text" name="order-name" placeholder="Order name" id="order-name" value="" />
                                                                    </div>
                                                                    <div class="col-sm-6 col-12">
                                                                        <label for="tracking-number">Tracking number<span class="required">*</span></label>
                                                                        <input type="number" name="tracking-number" placeholder="Tracking number" id="tracking-number" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row">
                                                                <div class="row">
                                                                    <div class="col-sm-6 col-12">
                                                                        <label for="marketplace">Name of store or marketplace<span class="required">*</span></label>
                                                                        <input type="text" name="marketplace" placeholder="Name of store or marketplace" id="marketplace" value="" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-row options">
                                                                <h5>Options</h5>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="flash-delivery">
                                                                    <label class="label-ttu" class="form-check-label" for="flash-delivery">Flash delivery - fast delivery + 10% saving!</label>
                                                                    <p>With this option we forward your parcel ‘as is’, which allows you to have a faster delivery and a savings of 10%.</p>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="verify-contents">
                                                                    <label class="form-check-label" for="verify-contents">Verify the contents with the invoice <strong>+$5</strong></label>
                                                                </div>
                                                                <div class="form-check">
                                                                    <input class="form-check-input" type="checkbox" value="" id="take-photo">
                                                                    <label class="form-check-label" for="take-photo">Take a photo of the parcel <strong>+$1</strong></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="step declaration">
                                                            <p>Name, model and description</p>
                                                            <div class="form-row">
                                                                <div class="item-product">
                                                                    <label for="item-product">Item product<span class="required">*</span></label>
                                                                    <select class="form-select" name="item-product[]" id="item-product">
                                                                        <option selected>Apple</option>
                                                                        <option>Microsoft</option>
                                                                    </select>
                                                                </div>
                                                                <div class="product-description">
                                                                    <label for="product-description">Product description<span class="required">*</span></label>
                                                                    <input type="text" placeholder="Description" name="product-description[]" id="product-description" />
                                                                </div>
                                                                <div class="quantity">
                                                                    <label for="quantity">Quantity<span class="required">*</span></label>
                                                                    <input type="number" name="quantity[]" id="quantity" value="1" />
                                                                </div>
                                                                <div class="price-per-item">
                                                                    <label for="quantity">Price<span class="required">*</span><br>(per item)</label>
                                                                    <div class="price-wrap">
                                                                        <input type="number" name="price-per-item[]" id="price-per-item" value="1" />
                                                                    </div>
                                                                </div>
                                                                <div class="total">
                                                                    <label>Total declared<br> Value</label>
                                                                    <span>$ 518.00</span>
                                                                </div>
                                                                <span class="action-remove">
                                                                    <svg role="img" class="remove-icon">
                                                                        <use xlink:href="#remove-icon"></use>
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                            <footer class="declaration-bar">
                                                                <button type="button" class="action-add-item">
                                                                    <svg role="img" class="add-icon">
                                                                        <use xlink:href="#add-icon"></use>
                                                                    </svg>
                                                                    Add item
                                                                </button>
                                                                <div class="declaration-bar-total">
                                                                    Total value
                                                                    <span class="number">$ 518.00</span>
                                                                </div>
                                                            </footer>
                                                        </div>
                                                    </div>
                                                    <div class="qbox-buttons">
                                                        <button disabled class="btn btn-rect btn-secondary" id="exit-btn" type="button">Exit</button>
                                                        <button class="btn btn-rect btn-secondary" id="prev-btn" type="button">Back</button>
                                                        <button class="btn btn-rect btn-secondary" id="next-btn" type="button">Next</button>
                                                        <button class="btn btn-rect btn-secondary" id="submit-btn" type="submit">Next</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
        <%= _.template(require('./../includes/modal-pay.html').default)() %>
</body>

</html>