<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <%= _.template(require('./../includes/svg-dashboard.html').default)() %>
        <div id="wrapper">
            <div id="main">
                <div class="dashboard">
                    <%= _.template(require('./../includes/dashboard-sidebar.html').default)() %>
                        <div class="dashboard-content">
                            <%= _.template(require('./../includes/header-dashboard.html').default)() %>
                                <div class="wrap calculator-dashboard">
                                    <h1 class="dashboard-title">Shipping Calculator</h1>
                                    <div class="calculator-dashboard-wrap">
                                        <div class="calc">
                                            <h2>Simulate your transportation costs</h2>
                                            <form>
                                                <div class="form-row">
                                                    <div class="calc-row-country">
                                                        <label for="country">From our warehouse to</label>
                                                        <select class="form-select" name="country" id="country">
                                                                <option selected>France</option>
                                                                <option>UK</option>
                                                                <option>Canada</option>
                                                            </select>
                                                    </div>
                                                    <div class="calc-row-weight">
                                                        <label for="weight">Weight</label>
                                                        <div class="weight-wrap">
                                                            <input type="text" name="weight" id="weight">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row d-flex align-items-end">
                                                    <div class="calc-row-third">
                                                        <label for="country">Total price of all goods</label>
                                                        <div class="price-wrap">
                                                            <input type="number" name="price" id="price">
                                                        </div>
                                                    </div>
                                                    <div class="calc-row-info">
                                                        <p>The price of insurance depends on the price of the goods:</p>
                                                        <ul>
                                                            <li>
                                                                <p>100 - 600 insurance <strong>+5$</strong></p>
                                                            </li>
                                                            <li>
                                                                <p>600$ - 1000$ insurance <strong>+7.50$</strong></p>
                                                            </li>
                                                            <li>
                                                                <p>1001$ - 1300$ insurance <strong>+15$</strong></p>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <div class="calc-row-third">
                                                        <label for="qty">Accept incoming parcel</label>
                                                        <input type="number" name="qty" id="qty" value="1">
                                                    </div>
                                                    <div class="calc-row-bulky">
                                                        <label for="country">Is your parcel bulky?</label>
                                                        <div class="form-check form-check-radio">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                            <label class="form-check-label" for="flexRadioDefault1">Yes</label>
                                                        </div>
                                                        <div class="form-check ">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                                            <label class="form-check-label" for="flexRadioDefault2">No</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row">
                                                    <input type="submit" class="btn btn-secondary" value="Calculate Delivery">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="calc-results">
                                            <table>
                                                <tr>
                                                    <th>Carrier</th>
                                                    <th>Delay</th>
                                                    <th>Estimate</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="carrier-logo">
                                                            <img class="bg" src="images/dhl.jpg" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        + 3 days
                                                    </td>
                                                    <td>
                                                        $21.20
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="calc-results-total">
                                                        <div class="total">Total Price <span>$22.00</span></div>
                                                        <ul>
                                                            <li>Insurance — 0 $</li>
                                                            <li>For incoming parcels — 0 $</li>
                                                            <li>Delivery — 21.2 $</li>
                                                            <li>Bank commission — 0.80 $</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="carrier-logo">
                                                            <img class="bg" src="images/fedex.jpg" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        + 3 days
                                                    </td>
                                                    <td>
                                                        $21.20
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="carrier-logo">
                                                            <img class="bg" src="images/fedex-economy.jpg" />
                                                        </div>
                                                    </td>
                                                    <td>
                                                        + 3 days
                                                    </td>
                                                    <td>
                                                        $21.20
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>
        </div>
</body>

</html>