.dashboard-sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 48px 0;
    background-color: get('color.neutral.700');
    width: 100%;
    max-width: 340px;
    hr {
        display: none;
        opacity: 1;
        background-color: #626262;
        width: calc(100% - 20px);
        border: none;
        height: 1px;
        margin: 21px auto 0;
        @media all and (max-width: get('responsive.lg')) {
            display: block;
        }
    }
    .navbar-toggler {
        @media all and (max-width: get('responsive.lg')) {
            height: 100%;
            padding-left: 50px;
        }
    }
    @media all and (max-width: get('responsive.lg')) {
        padding: 0;
        position: relative;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-logo {
        display: block;
        text-align: center;
        @media all and (max-width: get('responsive.lg')) {
            order: 1;
            margin-left: 10px;
            height: 92px;
            max-width: 160px;
            display: flex;
            img {
                margin: auto auto auto 0;
                width: 100%;
            }
        }
    }
    &-navbar {
        margin-top: 42px;
        @media all and (max-width: get('responsive.lg')) {
            margin-top: 0;
            margin-right: 10px;
            order: 2;
        }
    }
    &-colophone {
        display: none;
        padding: 0 10px 20px;
        margin: 0;
        width: 100%;
        margin-top: 21px;
        li {
            list-style: none;
            display: block;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: #fff;
                font: 400 normal rem(18px) / 1.4 get('font.family-h');
                text-decoration: none;
                display: block; 
                &:hover {
                    cursor: pointer;
                    color: #FFD23F;
                }
            }
        }
        @media all and (max-width: get('responsive.lg')) {
            display: block;
        }
    }
    &-nav {
        padding: 0;
        margin: 0;
        width: 100%;
        li {
            display: block;
            margin-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: #fff;
                font: 500 normal rem(20px) / 1.3 get('font.family-t');
                text-decoration: none;
                padding: 7px 20px 7px 96px;
                display: block;
                position: relative;
                width: 100%;
                transition: color get('transition');
                @media all and (max-width: get('responsive.lg')) {
                    font-size: rem(18px);
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 9px;
                    background-color: #FFBE44;
                    bottom: 0;
                    top: 0;
                    transform: scaleX(0);
                    transform-origin: left center;
                    transition: transform get('transition');
                }
                &:hover {
                    color: #FFD23F;
                    &:after {
                        transform: scaleX(0.3);
                    }
                }
                &.active:after {
                    transform: scaleX(1);
                }
            }
        }
    }
    .nav-item-icon {
        left: 30px;
        position: absolute;
        width: 35px;
        height: 36px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-flex;
        @media all and (max-width: get('responsive.lg')) {
            width: 26px;
            height: 27px;
        }
        img {
            display: block;
            margin: auto;
        }
    }
    .navbar-collapse {
        width: 100%;
        @media all and (max-width: get('responsive.lg')) {
            position: absolute;
            background: #000;
            width: 300px;
            right: 0;
        }
        @media all and (max-width: get('responsive.sm')) {
            width: 100%;
            left: 0;
        }
    }
    &-search {
        margin-top: 44px;
        text-align: center;
        display: block;
        @media all and (max-width: get('responsive.lg')) {
            padding: 11px 0;
            background-color: #DCDCDC;
            margin-top: 0;
            width: 100%;
            order: 3;
        }
    }
}

.dashboard {
    position: relative;
    &-content {
        padding: 36px 36px 36px calc(340px + 30px);
        min-height: 100vh;
        @media all and (max-width: get('responsive.lg')) {
            padding: 36px;
        }
    }
}