.modal-parcel-info {
    .modal-title {
        font: 700 normal rem(25px) / 1.1 get('font.family-h');
        text-transform: uppercase;
        padding: 80px 0 45px;
        @media all and (max-width: get('responsive.sm')) {
            padding: 10px 0 30px;
        }
    }
    .modal-right {
        flex: 0 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: calc(50% - 9px);
        @media all and (max-width: get('responsive.xl')) {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    .images {
        width: calc(100% + 16px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: -8px;
        &-item {
            margin: 0 8px;
            width: calc(33% - 16px);
            &:first-child {
                width: 100%;
                margin-bottom: 16px;
            }
        }
        .image-wrap {
            width: 100%;
            height: 0;
            padding-bottom: 66%;
            position: relative;
        }
        img {
            background-position: center center;
        }
    }
    .modal-left {
        width: calc(50% - 9px);
        @media all and (max-width: get('responsive.xl')) {
            width: 100%;
        }
        table {
            tr {
                &:first-child {
                    td {
                        padding-top: 25px;
                        &:first-child {
                            border-radius: 5px 5px 0 0;
                        }
                    }
                }
                &:last-child {
                    td {
                        padding-bottom: 25px;
                        &:first-child {
                            border-radius: 0 0 5px 5px;
                        }
                    }
                }
                td {
                    padding-left: 24px;
                    &:last-child {
                        font-weight: 300;
                    }
                }
            }
            td {
                padding: 8px 13px;
                font: 600 normal rem(14px) / 1.2 get('font.family-h');
                color: #000000;
                &:first-child {
                    background: #EAEAEA;
                }
            }
        }
    }
    .modal-body {
        padding-bottom: 100px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media all and (max-width: get('responsive.xl')) {
            flex-direction: column-reverse;
        }
        @media all and (max-width: get('responsive.sm')) {
            padding-bottom: 40px;
        }
    }
    .download-declaration {
        margin-top: 45px;
        display: block;
        font: 400 normal rem(14px) / 1.2 get('font.family-t');
        text-decoration: none;
        color: #000;
        text-align: center;
        svg {
            margin-right: 12px;
        }
    }
}