label {
    font: normal normal rem(14px) / 1.21 get('font.family-t');
}

.form-select {
    display: inline-block;
    width: unset;
    border-radius: 8px;
    padding: 11px 25px;
    font: normal normal rem(14px) / 1.4 get('font.family-h');
}

*:focus {
    outline: 0;
    box-shadow: none !important;
}

.form-row {
    margin-top: 23px;
}