table {
    border-collapse: collapse;
}

table.responsive {
    @media all and (max-width: get('responsive.md')) {
        thead {
            display: none;
        }
    }
    tr {
        td {
            @media all and (max-width: get('responsive.md')) {
                display: block;
                width: 100% !important;
                max-width: 100% !important;
                text-align: right;
                border: 1px solid #ccc;
                border-bottom: none;
                &:last-child {
                    border-bottom: 1px solid #ccc;
                }
                &:before {
                    content: attr(data-label);
                    float: left;
                    font: 600 normal rem(14px) / 1.2 get('font.family-t');
                }
            }
        }
    }
}

.table-default {
    width: 100%;
    border-collapse: collapse;
    tr {
        th,
        td {
            padding: 16px 10px;
        }
        td {
            font: 400 normal rem(14px) / 1.2 get('font.family-t');
            color: #000000;
            &:first-child {
                max-width: 60px;
                padding-left: 30px;
            }
            &:last-child {
                padding-right: 30px;
                @media all and (max-width: get('responsive.md')) {
                    padding-right: 10px;
                }
            }
        }
    }
    thead {
        th {
            font: 600 normal rem(14px) / 1.2 get('font.family-t') !important;
            color: #000;
        }
    }
    tbody tr {
        @media all and (max-width: get('responsive.md')) {
            display: block;
            margin-bottom: 20px;
        }
        &:first-child {
            td:first-child {
                border-radius: 11px 0 0 0;
            }
            td:last-child {
                border-radius: 0 11px 0 0;
                @media all and (max-width: get('responsive.md')) {
                    border-radius: 0 0 11px 11px;
                }
            }
        }
        &:nth-child(2n+1) {
            td {
                background-color: #E5E5E5;
            }
        }
        @media all and (max-width: get('responsive.md')) {
            td {
                &:first-child {
                    border-radius: 11px 11px 0 0 !important;
                }
                &:last-child {
                    border-radius: 0 0 11px 11px;
                }
            }
        }
    }
    .remove,
    .check {
        width: 50px;
        min-width: auto;
        max-width: auto;
    }
    .form-check {
        display: block;
        input[type=checkbox]+label:before {
            width: 21px;
            height: 21px;
        }
    }
    .status {
        .label {
            display: block;
            font: 700 normal rem(16px) / 1.2 get('font.family-t');
            text-transform: uppercase;
            color: #000000;
        }
    }
    .customs-value {
        .action-add-parcel {
            margin-left: 6px;
        }
        .action-edit-parcel {
            margin-left: 28px;
            @media all and (max-width: get('responsive.md')) {
                margin-left: 10px;
            }
        }
        .edit-top {
            display: flex;
            align-items: center;
            @media all and (max-width: get('responsive.md')) {
                justify-content: flex-end;
            }
        }
        @media all and (max-width: get('responsive.md')) {
            .action-provide-declaration {
                display: inline-block;
            }
        }
    }
    .action-remove {
        &:hover {
            cursor: pointer;
            svg {
                fill: get('color.primary.500');
            }
        }
    }
    .parcel-detail {
        font: 400 normal rem(15px) / 1.2 get('font.family-t');
        position: relative;
        padding-right: 40px;
        padding-left: 40px;
        width: 254px;
        min-width: auto;
        max-width: auto;
        @media all and (max-width: get('responsive.xl')) {
            padding-left: 10px;
            padding-right: 10px;
        }
        @media all and (max-width: get('responsive.md')) {
            width: 100%;
            padding: 16px 10px;
        }
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            @media all and (max-width: get('responsive.md')) {
                justify-content: flex-end;
            }
        }
        .action-info {
            margin-left: 16px;
            &:hover {
                cursor: pointer;
            }
        }
        .manufacture {
            font-weight: 600;
            display: inline-block;
            .id {
                font-weight: 400;
                margin-top: 3px;
                display: block;
            }
            .show-all {
                display: block;
                font: 400 normal rem(13px) / 1.2 get('font.family-t');
                line-height: 16px;
                color: #000000;
                margin-top: 10px;
                padding-left: 20px;
                position: relative;
                margin-left: -20px;
                &:hover {
                    cursor: pointer;
                }
                svg {
                    position: absolute;
                    left: 0;
                    top: 2px;
                }
            }
        }
    }
    .parcel-id {
        font: 400 normal rem(12px) / 1.2 get('font.family-t');
        color: #000000;
        .no {
            font-size: rem(16px);
            display: block;
        }
        .date {
            margin-top: 6px;
            display: block;
            font-size: rem(12px);
        }
    }
    .send {
        text-align: right;
    }
}

table.summary {
    width: 100%;
    th,
    td {
        padding: 12px 17px;
    }
    thead {
        tr {
            th {
                background-color: #2F2F2F;
                color: #fff;
                font: 500 normal rem(16px) / 1.25 get('font.family-t');
                &:first-child {
                    border-radius: 8px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 8px 0 0;
                }
            }
        }
    }
    tfoot {
        tr {
            td {
                background-color: #C7C7C7;
            }
        }
    }
}

.nav-tabs {
    border-bottom: 5px solid #353535;
    @media all and (max-width: get('responsive.md')) {
        border-width: 3px;
    }
    .nav-link {
        background-color: #605E5E;
        border: none;
        flex: 1;
        margin-bottom: 0;
        color: #fff;
        border-radius: 8px 8px 0 0;
        padding: 24px 25px;
        margin: 0 4px;
        font: 700 normal rem(20px) / 1.05 get('font.family-h');
        align-items: left;
        position: relative;
        @media all and (max-width: get('responsive.md')) {
            padding: 7px 10px;
            font-size: rem(15px);
            text-align: left;
            margin: 0 2px;
        }
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
        &.active {
            background-color: #FDB733;
            color: #000;
        }
        .qty {
            position: absolute;
            width: 28px;
            height: 28px;
            background-color: #000;
            display: block;
            border-radius: 50%;
            top: 0;
            right: 18px;
            color: #fff;
            text-align: center;
            font: 600 normal rem(20px) / 1 get('font.family-t');
            margin-top: -14px;
            @media all and (max-width: get('responsive.md')) {
                right: 12px;
                width: 15px;
                height: 15px;
                margin-top: -7px;
                font-size: rem(13px);
                padding: 1px 0;
            }
        }
    }
}

.nav-pills {
    justify-content: center;
    margin: 40px auto 0;
    @media all and (max-width: get('responsive.sm')) {
        width: 100%;
        display: flex;
        margin-top: 24px;
    }
    .nav-item {
        @media all and (max-width: get('responsive.sm')) {
            flex: 1;
        }
        .nav-link {
            width: 100%;
            max-width: 254px;
            background-color: transparent;
            font: 400 normal rem(16px) / 1.18 get('font.family-t');
            text-align: center;
            color: #000000;
            position: relative;
            @media all and (max-width: get('responsive.md')) {
                font-size: rem(12px);
            }
            @media all and (max-width: get('responsive.sm')) {
                padding-left: 0;
                padding-right: 0;
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                transform: scale(1);
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #C4C4C4;
            }
            &.active {
                font-weight: 700;
                &:after {
                    transform-origin: left bottom;
                    transform: scale(1, 3);
                    background-color: #F6B243;
                }
            }
        }
    }
}