html,
body {
    font-size: 16px;
    overflow-x: hidden;
}

.bg {
    position: absolute;
    object-fit: cover;
    object-position: center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-contain {
        object-fit: contain;
    }
}

.page-title {
    position: relative;
    width: 100%;
    .wave-bg {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: -1;
        min-height: 734px;
        clip-path: url(#page-title-clip-path);
        background: rgb(241, 178, 67);
        background: linear-gradient(45deg, rgba(241, 178, 67, 1) 0%, rgba(241, 178, 67, 1) 50%, rgba(246, 230, 157, 1) 100%);
    }
    &-content {
        text-align: center;
        margin-top: 228px;
        @media all and (max-width: get('responsive.sm')) {
            margin-top: 50px;
        }
        * {
            color: #fff;
        }
        h1 {
            text-transform: initial;
        }
        p {
            margin-top: 20px;
            font: 400 normal rem(34px) / 1.26 get('font.family-h');
            @media all and (max-width: get('responsive.md')) {
                font-size: rem(18px);
            }
        }
    }
    .svg {
        position: absolute;
        width: 0;
        height: 0;
    }
}

.logo-3d {
    border-radius: 8px;
    height: 100%;
    perspective: 1000px;
    width: 100%;
    z-index: 111;
    display: flex;
    &-item {
        margin: auto;
        transform: translateZ(-13px);
        transform-style: preserve-3d;
        transition: all .3s linear;
        width: 100%;
        .front {
            backface-visibility: hidden;
            border-radius: 6px;
            height: 100%;
            left: 0;
            position: absolute;
            transition: all 1s linear;
            transform: rotateX(0);
            top: 0;
            width: 100%;
            z-index: 20;
            img {
                border-radius: 6px;
                min-height: 100%;
                min-width: 100%;
            }
        }
        .bottom {
            backface-visibility: hidden;
            border-radius: 6px;
            height: 100%;
            margin: 0 0 0 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 10;
            transform: rotateX(-90deg) translateZ(-23px) translateY(23px);
            p {
                font-family: arial;
                font-weight: bold;
                font-size: 24px;
                position: relative;
                text-align: center;
                top: 40%;
            }
        }
    }
    &.active .logo-3d-item {
        transform: rotateX( 90deg) translateZ(23px);
    }
}