.calc-icon {
    width: 24px;
    height: 31px;
}

.linkedin-icon,
.twitter-icon,
.facebook-icon {
    width: 33px;
    height: 33px;
}


.person-icon {
    width: 36px;
    height: 36px;
    fill: #fff;
}

.link-icon {
    width: 21px;
    height: 12px;
    fill: #EFC63F;
}

.dashboard-parcels-icon {
    width: 37px;
    height: 28px;
}